.wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;

    color: var(--primary);
    background: var(--neutral);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.grid {
    display: grid;

    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
}

.item-card {
    display: flex;
    flex-direction: column;

    background-color: #f8f8f8;

    grid-column: span 4;

    &:hover .item-card__btn {
        visibility: visible;

        opacity: 1;
    }

    &:hover .item-card__img::before {
        transition: opacity ease-in-out 0.2s;

        opacity: 1;
    }

    &__img {
        position: relative;
        z-index: 3;

        padding-bottom: 117%;

        & img {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            object-fit: cover;
        }

        &::before {
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            content: "";
            transition: opacity ease-in-out 0.2s;

            opacity: 0;
            background-color: rgba(58, 56, 56, 0.86);
        }
    }

    &__btn {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;

        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;

        display: flex;
        visibility: hidden;
        align-items: center;
        justify-content: space-between;

        min-width: 140px;
        min-height: 44px;
        padding: 0 15px;

        transition: box-shadow ease-in-out 0.1s;
        transform: translate(-50%, -50%);

        opacity: 0;
        color: var(--neutral);
        border: 1px solid var(--neutral);
        background-color: transparent;

        gap: 10px;

        &:hover {
            transition: box-shadow ease-in-out 0.1s;

            -webkit-box-shadow: 0 0 5px #fff;
            box-shadow: 0 0 5px #fff;
        }

        &:hover .icon-card {
            transition: color ease-in-out 0.1s;

            color: var(--secondary);
        }
    }

    &__content {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: space-between;

        padding: 24px 16px;

        gap: 16px;
    }

    &__title {
        font-size: 13px;
        font-weight: 400;

        text-transform: uppercase;

        color: var(--primaryDark);
    }

    &__title-link {
        transition: color 0.1s ease-in;

        &:hover {
            color: var(--secondary);
        }
    }

    &__text {
        flex: 1 1 auto;
    }

    &__price {
        font-size: 16px;
        font-weight: 400;

        display: block;

        color: var(--secondary);
    }
}

.icon {
    transition: fill ease-in-out 0.2s;

    fill: #e8e8e8;

    &:hover {
        cursor: pointer;
        transition: fill ease-in-out 0.1s;

        fill: var(--secondary);
    }
}

summary {
    display: inline-flex;

    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}
