.footer {
    background-color: var(--primaryLight);

    &__inner {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;

        padding: 25px 15px;
    }

    &__text {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;

        color: #fbfbfb;
    }

    &__social {
        display: flex;

        gap: 7px;
    }

    &__social-item {
    }

    &__social-link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 32px;
        height: 32px;

        transition: background-color ease-in-out 0.2s;

        background-color: var(--neutral);

        &:hover {
            background-color: var(--secondary);
        }

        &:hover .footer__social-img {
            fill: var(--neutral);
        }
    }

    &__social-img {
        transition: fill ease-in-out 0.2s;

        fill: var(--primaryDark);
    }
}
