.header {
    background-color: var(--primaryLight);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        min-height: 75px;
        padding: 0 30px;

        gap: 20px;
    }

    &__left {
        display: flex;
        align-items: flex-end;

        gap: 40px;
    }

    &__right {
        display: flex;
        align-items: center;

        gap: 32px;
    }

    &__menu-toggle {
    }

    &__menu {
    }

    &__card-counter {
        font-size: 12px;

        position: absolute;
        top: -6px;
        right: -6px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 19px;
        height: 19px;

        color: var(--neutral);
        border-radius: 50%;
        background-color: var(--secondary);
    }
}

.header-card {
    position: relative;
}

#menu-toggle {
    display: none;
}

.menu {
    position: absolute;
    z-index: -1;
    top: 75px;
    right: 0;

    visibility: hidden;

    min-width: 234px;
    padding: 32px;

    transition: all ease-in 0.1s;

    opacity: 0;
    background-color: var(--neutral);

    &__title {
        font-size: 14px;
        font-weight: 700;

        margin-bottom: 24px;

        color: var(--primaryDark);
    }

    &__tabs {
        display: flex;
        flex-direction: column;

        gap: 20px;
    }

    &__tab {
        display: flex;
        flex-direction: column;

        gap: 12px;
    }
}

#menu-toggle:checked ~ .menu {
    z-index: 99;

    visibility: visible;

    transform: translateY(0);

    opacity: 1;
}

.tab-menu {
    &__title {
        font-size: 14px;
        font-weight: 400;

        text-transform: uppercase;

        color: var(--secondary);
    }

    &__row {
        display: flex;
        flex-direction: column;

        margin-left: 20px;

        gap: 10px;
    }

    &__link {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;

        color: #6f6e6e;

        &:hover {
            text-decoration: underline 2px var(--secondary);
        }
    }
}
