.product {
    &__slider {
    }

    &__cards {
        padding: 128px 15px;
    }
}

.slider {
    &__img {
        position: relative;

        background-color: #f7f7f7;
    }

    &__img-inner {
        position: relative;

        min-height: 777px;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;

            width: 51%;
            height: 93%;

            transform: translate(-50%, -50%);

            object-fit: cover;

            // object-position: center top bottom;
        }
    }

    &__pagination-prev,
    &__pagination-next {
        position: absolute;
        top: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 47px;
        height: 47px;

        transition: all 0.2s ease;
        transform: translateY(-50%);

        background-color: rgba(42, 42, 42, 0.15);

        &:hover svg {
            fill: var(--secondary);
        }
    }

    &__pagination-prev {
        left: 0;
    }

    &__pagination-next {
        right: 0;
    }

    &__descr {
        position: relative;
        top: -64px;

        display: flex;
        align-items: center;
        flex-direction: column;

        padding: 65px 0;

        text-align: center;

        border: 1px solid #eaeaea;
        background-color: var(--neutral);
    }

    &__content {
        max-width: 555px;
        padding-bottom: 65px;

        border-bottom: 1px solid #eaeaea;
    }

    &__subtitle {
        position: relative;

        margin-bottom: 25px;

        color: var(--secondary);

        &::before {
            position: absolute;
            bottom: -14px;
            left: 50%;

            width: 64px;
            height: 3px;

            content: "";
            transform: translateX(-50%);

            background-color: var(--secondary);
        }
    }

    &__title {
        font-size: 18px;

        margin-bottom: 45px;

        color: var(--primaryDark);
    }

    &__text {
        font-size: 14px;

        margin-bottom: 32px;
    }

    &__price {
        font-size: 24px;

        color: var(--secondary);
    }

    &__sort {
        margin-top: 65px;
    }

    &__btn {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;

        display: flex;
        align-items: center;

        min-width: 212px;
        margin-top: 48px;
        padding: 15px 24px;

        transition: all 0.2s ease;

        color: var(--secondary);
        border: 1px solid var(--secondary);
        background-color: transparent;

        gap: 23px;

        &:hover {
            transition: box-shadow ease-in-out 0.1s;

            -webkit-box-shadow: 0 0 5px var(--secondary);
            box-shadow: 0 0 5px var(--secondary);
        }

        & .icon-card:before {
            font-size: 25px;
        }
    }
}
