.sort {
    display: flex;
    align-items: center;

    gap: 28px;

    &__details {
    }

    &__details[open] .sort__summary {
        color: var(--secondary);

        svg {
            fill: var(--secondary);
        }
    }

    &__summary {
        font-size: 14px;
        font-weight: 400;

        display: flex;
        align-items: center;

        text-transform: uppercase;

        color: var(--primary);

        gap: 10px;
    }

    &__list {
        position: absolute;
        z-index: 7;
        top: 20px;
        left: -10px;

        display: flex;
        flex-direction: column;

        min-width: 80px;
        padding: 8px 10px 12px;

        background-color: var(--neutral);
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);

        gap: 5px;
    }

    &__item {
        font-size: 14px;
        font-weight: 400;

        display: flex;

        text-transform: uppercase;

        color: var(--primary);

        gap: 10px;
    }
}
